@import '../../scss/exports';

.hl-card {
  background-color: $blue;
  padding: 22px $pd-xs $pd-m;
  @include d-flex(column, 1rem);
  justify-content: center;
  align-items: center;

  .hl__group {
    @include d-flex(column, 10px);
    align-items: center;
    
    .hl-value {
      font-size: 64px;

      span {
        font-size:36px;
      }
    }
  }

  .wind-dir {
    @include d-flex(row, 10px);
    justify-content: center;
    align-items: center;
    font-size: 14px;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $white;
      background-color: rgba($dark-grey, 0.5);
      border-radius: 50%;
    }
  }
}