@import '../../scss/exports';

.banner { 
  @include d-flex();
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / .875;

  @include mq(min-width, 500px) {
    aspect-ratio: 1 / .775;
  }

  @include mq(min-width, 1024px) {
    aspect-ratio: 1 / .666667;
  }
  position: relative;

  &:before {
    content: "";
    background-image: url('../../assets/img/Cloud-background.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
  }

  img {
    width: 50vw;
    height: auto;

    @include mq(min-width, 500px) {
      width: 250px
    }

    @include mq(min-width, 700px) {
      width: 40%;
    }
  }
}