@import '../../scss/exports';

.home {
  width: 100%;
  padding-bottom: 4rem;
  background: $blue;

  .home__actions {
    @include d-flex(row, 0);
    justify-content: space-between;
    align-items: center;
    padding: $pd-s $pd-xs 0;
  }

  .home__info {
    @include d-flex(column, 2rem);
    align-items: center;

    .info-deg {
      font-size: 144px;
      line-height: 169.06px;
      letter-spacing: 50%;
      margin-top: -1.5rem;

      span {
        font-size: 48px;
        line-height: 56.35px;
        color: $light-grey;
      }
    }

    .info-type {
      color: $light-grey;
      font-size: 36px;
    }

    .info-date {
      @include d-flex(row, 1rem);
      align-items: center;
      justify-content: center;

      p {
        font-size: 18px;
        color: $light-grey;
      }
    }

    .info-city {
      @include d-flex(row, 0.666667rem);
      align-items: center;
      justify-content: center;
      color: $light-grey;
      font-size: 18px;

      svg {
        width: 18px;
        height: 18px;
        fill: $light-grey;
      }
    }
  }
}