@import '../../scss/exports';

.home {
  width: 100%;
  padding-bottom: 4rem;
  background: $blue;

  @include mq(min-width, 700px) {
    width: 31vw;
  }

  .home__actions {
    @include d-flex(row, 0);
    justify-content: space-between;
    align-items: center;
    padding: $pd-s $pd-xs 0;

    @include mq(min-width, 875px) {
      padding: $pd-sm $pd-sm 0;
    }

    @include mq(min-width, 1024px) {
      padding: $pd-m $pd-m 0;
    }
  }

  .home__info {
    @include d-flex(column, 2rem);
    align-items: center;

    @include mq(min-width, 700px) {
      gap: 1.25rem;
    }

    .info-deg {
      font-size: 144px;
      line-height: 169.06px;
      letter-spacing: 50%;
      margin-top: -1.5rem;

      @include mq(min-width, 700px) {
        font-size: 110px;
      }

      @include mq(min-width, 1024px) {
        font-size: 124px;
      }

      span {
        font-size: 0.333333em;
        line-height: 56.35px;
        color: $light-grey;
      }
    }

    .info-type {
      color: $light-grey;
      font-size: 36px;
      font-weight: 600;

      @include mq(min-width, 700px) {
        font-size: 24px;
      }

      @include mq(min-width, 1024px) {
        font-size: 30px;
      }

    }

    .info-date {
      @include d-flex(row, 1rem);
      align-items: center;
      justify-content: center;

      p {
        font-size: 18px;
        color: $light-grey;

        @include mq(min-width, 700px) {
          font-size: 16px;
        }
      }
    }

    .info-city {
      @include d-flex(row, 0.666667rem);
      align-items: center;
      justify-content: center;
      color: $light-grey;
      font-size: 18px;

      @include mq(min-width, 700px) {
        font-size: 16px;
      }

      svg {
        width: 18px;
        height: 18px;
        fill: $light-grey;
      }
    }
  }
}