@mixin d-flex ($direction: column, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
};

@mixin mq($direction: min-width, $size: 1024px) {
  @media scree and ($direction: $size) {
    @content;
  }
}