$blue: #1E213A;
$dark-blue:#100E1D;
$bright-blue: #3C47E9;
$white: #E7E7EB;
$grey: #6E707A;
$dark-grey: #585676;
$light-grey: #88869D;
$yellow: #FFEC65;

/******/
$pd-xs: 12px;
$pd-s: 18px;
$pd-sm: 24px;
$pd-m: 34px;
$pd-l: 46px;
$pd-xl: 52px;
$font-family: 'Raleway', sans-serif;