$blue: #1E213A;
$dark-blue:#100E1D;
$bright-blue: #3C47E9;
$white: #E7E7EB;
$grey: #6E707A;
$dark-grey: #585676;
$light-grey: #A09FB1;
$yellow: #FFEC65;

/******/
$pd-s: 12px;
$pd-sm: 18px;
$pd-m: 34px;
$pd-l: 46px;

$font-family: 'Raleway', sans-serif;